<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: var(--black);
  color: var(--white);
}

:root {
  --black: #000000;
  --white: #ffffff;
  --red: #ed1c24;
  --green: #28a745;
  --gray: #0f0f0f;
}

/* utility classes */

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-around {
  justify-content: space-around;
}

.item-center {
  align-items: center;
}

.gap-1 {
  gap: 5px;
}
.gap-2 {
  gap: 10px;
}
.gap-3 {
  gap: 15px;
}
.gap-4 {
  gap: 20px;
}
.gap-5 {
  gap: 25px;
}

m-1 {
  margin: 5px;
}
m-2 {
  margin: 10px;
}
m-3 {
  margin: 15px;
}
m-4 {
  margin: 20px;
}
m-5 {
  margin: 25px;
}
.mt-5{
    margin-top: 10px;
}

mx-1 {
  margin: 0px 5px;
}
mx-2 {
  margin: 0px 10px;
}
mx-3 {
  margin: 0px 15px;
}
mx-4 {
  margin: 0px 20px;
}
mx-5 {
  margin: 0px 25px;
}
.rounded-sm {
  border-radius: 20px;
}

.text-none {
  text-decoration: none;
  color: var(--white);
}

.bg-dark {
  background-color: var(--black);
}

.text-white {
  color: var(--white);
}

.w-full{
  width: 100%;
=======
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* font family */
@font-face {
    font-family: apercu;
    src: url('../fonts/Apercu\ Light.otf');
}

html{
    font-size: 62.5%;
    font-family: apercu;
}

/* css variable */
:root {
    --black: #000000;
    --white: #ffffff;
    --red: #ed1c24;
    --green: #28a745;
    --gray: #0f0f0f
}


/* utility classes */

.d-flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-evenly{
    justify-content: space-evenly;
}

.justify-around{
    justify-content: space-around;
}

.item-center{
    align-items: center;
}

.gap-1{
    gap: 5px;
}
.gap-2{
    gap: 10px;
}
.gap-3{
    gap: 15px;
}
.gap-4{
    gap: 20px;
}
.gap-5{
    gap: 25px;
}


m-1{
    margin: 5px;
}
m-2{
    margin: 10px;
}
m-3{
    margin: 15px;
}
m-4{
    margin: 20px;
}
m-5{
    margin: 25px;
}

mx-1{
    margin: 0px 5px;
}
mx-2{
    margin: 0px 10px;
}
mx-3{
    margin: 0px 15px;
}
mx-4{
    margin: 0px 20px;
}
mx-5{
    margin: 0px 25px;
}
.rounded-sm{
    border-radius: 20px;
}

.text-none{
    text-decoration: none;
    color: var(--white);
}

.bg-dark{
    background-color: var(--black);
}

.text-white{
    color: var(--white);
>>>>>>> 4bdabb88f8868b219c76ebdd28604ad95b7fec5d
}