<<<<<<< HEAD
/* relative unit
%
em

absolute unit
vw
vh
px

*/

/* .parent{
    border: 2px solid black;
    width: 50%;
}

.children{
    border: 2px dashed red;
    width: 50%;
} */



/* .parent{
    border: 2px solid black;
    width: 20vw;
    height: 200vh;
}

.children{
    border: 2px dashed red;
    width: 50vw;
    
} */

/* 1em = 16px */

/* h1{
    font-size: 64px;
}
p{
    font-size: 32px;
} */


/* html{
    font-size: 16px;
}

.parent{
    font-size: 200px;
}

.heading{
    font-size: 4rem;
} */


html{
    font-size: 8px;
}

h1{
    font-size: 12rem;
}
p{
    font-size: 6rem;
}




=======
/* body{
    background-color: #bfbfc0;
}
.bg-white{
    background-color: white;
    margin: 15px;
}
.text-white{
    color: white;
}
.div-one{
    background-color: #2882c5;
    padding: 5px;
    margin: 0px 15px;
} */

*{
    margin: 0;
}

body{
    background-color: #bebfc2;
}
.heading{
    margin: 40px;
}
.container{
    margin: 40px;
}
.bg-white{
    background-color: #ffffff;
}

.color-one{
    background-color: aliceblue;
}
.color-two{
    background-color: rgb(196, 227, 254);
}
.color-three{
    background-color: rgb(155, 208, 255);
}
.color-four{
    background-color: rgb(106, 186, 255);
}
>>>>>>> d3be6b6377533bdb053c1ac321feab427edee822
